body {
	margin: 0;
	padding: 0;
	background: #1C2E37
}
:root {
	--web-view-ids: Prediction;
}
#Prediction * {
	margin: 0;
	padding: 0;
}
#Prediction {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: Prediction;
	--web-view-id: Prediction;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_2 {
	opacity: 1;
	fill: rgba(34,56,67,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Image_1 {
	opacity: 0.3;
	fill: url(#Image_1_A1_Rectangle_9_pattern);
}
.Image_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#The_Winner_is {
	opacity: 1;
	position: absolute;
	left: 82px;
	top: 237px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1006px;
	white-space: nowrap;
	text-align: left;
	font-family: Dubai;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(228,228,228,1);
}
#winning_fighter{
	color: rgba(29,241,243,1);
}
#ufc {
	opacity: 0.5;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)) blur(8px);
	fill: #020405;
	position: fixed;
}
.ufc {
	transform: matrix(1,0,0,1,0,0);
	overflow: hidden;
	width: 1938px;
	height: 254.601px;
}
#Line_1 {
	opacity: 1;
	fill: transparent;
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	top: 359.5px;
	left: 86.5px;
	width: 1748px;
	height: 1px;
}
#Developed_by_Shahmir_Usman {
	opacity: 1;
	position: absolute;
	left: 1600px;
	top: 1044px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 250px;
	white-space: nowrap;
	text-align: left;
	font-family: Dubai, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#fightfest {
	opacity: 1;
	fill: url(#fightfest_A1_Rectangle_11_pattern);
}
.fightfest {
	position: absolute;
	overflow: visible;
	width: 612px;
	height: 131px;
	left: 1263px;
	top: 50px;
}
#Percentage {
	opacity: 1;
	position: absolute;
	left: 87px;
	top: 408px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 1749px;
	height: 464px;
	text-align: left;
	font-family: Dubai;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(228,228,228,1);
}
#Rectangle_3 {
	opacity: 0.9;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 133px;
	left: 595px;
	top: 872px;
}
#button{
	opacity: 1;
	position: absolute;
	left: 795px;
	top: 900px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
#backbutton{
	border: 1px solid #50e3f7;
	background: #1C2E37;
	padding: 10px 60px;
	font-size: 20px;
	font-family: Dubai, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	margin: 10px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
#backbutton:hover{
	color: rgb(0, 0, 0);
	background: rgba(29,241,243,1);
}